MAIN/Silverlight/NeuroSpeech.UIAtoms/UIAtomsDemo/Service References/DataService/EmployeeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEmployees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult" type="tns:WSResultOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSResultOfEmployee">
        <s:complexContent mixed="false">
          <s:extension base="tns:GenericResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:Employee" />
              <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfEmployee" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GenericResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageDetails" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:complexContent mixed="false">
          <s:extension base="tns:ErpObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TitleOfCourtesy" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReportsTo" type="s:string" />
            </s:sequence>
            <s:attribute name="EmployeeID" type="s:long" use="required" />
            <s:attribute name="BirthDate" type="s:dateTime" use="required" />
            <s:attribute name="HireDate" type="s:dateTime" use="required" />
            <s:attribute name="Extension" type="s:int" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ErpObject" />
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeeWebServiceSoap">
    <wsdl:operation name="GetEmployees">
      <wsdl:input message="tns:GetEmployeesSoapIn" />
      <wsdl:output message="tns:GetEmployeesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeWebServiceSoap" type="tns:EmployeeWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeeWebServiceSoap12" type="tns:EmployeeWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap12:operation soapAction="http://tempuri.org/GetEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeWebService">
    <wsdl:port name="EmployeeWebServiceSoap" binding="tns:EmployeeWebServiceSoap">
      <soap:address location="http://localhost:3474/Service/EmployeeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeeWebServiceSoap12" binding="tns:EmployeeWebServiceSoap12">
      <soap12:address location="http://localhost:3474/Service/EmployeeWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>